{% extends '_base.html' %}
{% load markdown_deux_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="mb-0">{{ note }}</h2>
            <small class="text-muted mb-5 d-block">
                published in: 
                <strong>{{ note.last_updated }}</strong>
            </small>    
            <p class="text-muted">
                {{ note.note|markdown }}
            </p>
        </div>
    </div>
</div>
{% endblock %}